#include "{{ header_path }}"
#include <cuda_runtime.h>

#define ITERS 50

int main() {

    DataPointers data;

    {% for stream in config.streams %}
    cudaStream_t {{ stream.name }};
    cudaStreamCreateWithFlags(&{{ stream.name }}, cudaStreamNonBlocking);
    {% endfor %}

    setup(&data);

    {% for stream in config.streams %}
    cudaStreamSynchronize({{ stream.name }});
    {% endfor %}

    for (int i = 0; i < ITERS; i++) {
        {% for i in 0..2 -%}
        {% let kernel = config.kernels[i] %}
        {{ kernel.name }}<<<{{ kernel.blocks }}, {{ kernel.threads }}, 0, {{ kernel.stream }}>>>(
            {%- for arg in kernel.args -%}
            data.{% if arg.datatype.ends_with('*') %}d_{% endif %}{{ arg.name }}{% if !loop.last %}, {% endif %}
            {%- endfor -%}
        );
        {% endfor %}
    }

    {% for stream in config.streams %}
    cudaStreamSynchronize({{ stream.name }});
    {% endfor %}

    free_data(&data);

    return 0;
}
